In [1]:
import pandas as pd

# Categorical

## Frequency table
2 Series of categorices to a fruency table

In [4]:
police = pd.read_csv('data/police_stops.csv', index_col=0, parse_dates=['stop_datetime'])
police.head(2)

,driver_gender,driver_race,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district,Frisk
stop_datetime,,,,,,,,,,,
2005-01-04 12:55:00,M,White,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4,False
2005-01-23 23:15:00,M,White,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3,False

Examine *violations* in different *districts*

In [5]:
pd.crosstab(index=police.violation, columns=police.district)

district             Zone K1  Zone K2  Zone K3  Zone X1  Zone X3  Zone X4
violation
Equipment                672     2061     2302      296     2049     3541
Moving violation        1254     2962     2898      671     3086     5353
Other                    290      942      705      143      769     1560
Registration/plates      120      768      695       38      671     1411
Seat belt                  0      481      638       74      820      843
Speeding                5960    10448    12322     1119     8779     9795