# SQL Magic in Jupyter Notebook

In [1]:
%load_ext sql

In [2]:
%sql sqlite://

'Connected: @None'

In [3]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

 * sqlite://
Done.
1 rows affected.
1 rows affected.

[]

In [7]:
%sql select * from writer

 * sqlite://
Done.

[('William', 'Shakespeare', 1616), ('Bertold', 'Brecht', 1956)]

In [6]:
%%sql
select * from writer where year_of_death > 1700

 * sqlite://
Done.

[('Bertold', 'Brecht', 1956)]